################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelpJuice.Client/obj
/HelpJuice.Client/bin/Debug
/.vs
/HelpJuice.Tests/obj
/HelpJuice.Tests/bin/Debug/net461
/HelpJuice.Client/bin/Release
